<NotepadPlus>
    <Project name="&#x5DE5;&#x7A0B;&#x540D;">
        <Folder name="attach">
            <File name="attach\2015_Hux_SDE_cn.pdf" />
            <File name="attach\2015_Hux_SDE_en.pdf" />
            <File name="attach\2015_Hux_UX &amp; PD_cn.pdf" />
            <File name="attach\2015_Hux_UX &amp; PD_en.pdf" />
            <File name="attach\2016_Hux_DEV_en.pdf" />
            <File name="attach\2016_Hux_en_PD.pdf" />
            <File name="attach\2016_Hux_en_SE.pdf" />
        </Folder>
        <Folder name="css">
            <File name="css\bootstrap.css" />
            <File name="css\bootstrap.min.css" />
            <File name="css\custom-blog - &#x526F;&#x672C;.css" />
            <File name="css\custom-blog.css" />
            <File name="css\syntax.css" />
        </Folder>
        <Folder name="fonts">
            <File name="fonts\glyphicons-halflings-regular.eot" />
            <File name="fonts\glyphicons-halflings-regular.svg" />
            <File name="fonts\glyphicons-halflings-regular.ttf" />
            <File name="fonts\glyphicons-halflings-regular.woff" />
            <File name="fonts\glyphicons-halflings-regular.woff2" />
        </Folder>
        <Folder name="img">
            <Folder name="in-post">
                <Folder name="post-alitrip-pd">
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.013.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.014.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.016.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.018.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.019.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.020.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.021.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.023.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.026.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.028.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.029.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.030.jpg" />
                    <File name="img\in-post\post-alitrip-pd\post-alitrip-pd.031.jpg" />
                </Folder>
                <Folder name="post-js-version">
                    <File name="img\in-post\post-js-version\javascript-java.jpg" />
                    <File name="img\in-post\post-js-version\keep-calm-and-learn-javascript.png" />
                </Folder>
                <File name="img\in-post\forcify.jpg" />
                <File name="img\in-post\open-source-license.png" />
                <File name="img\in-post\post-c-u-ali-079717.png" />
                <File name="img\in-post\post-c-u-ali-memo.jpg" />
                <File name="img\in-post\post-c-u-ali-team.png" />
                <File name="img\in-post\post-kuaidi-1.jpg" />
                <File name="img\in-post\post-kuaidi-2.jpg" />
                <File name="img\in-post\post-metro-panorama.jpg" />
                <File name="img\in-post\post-metro-real.jpg" />
                <File name="img\in-post\post-metro-ui.jpg" />
            </Folder>
            <File name="img\404-bg.jpg" />
            <File name="img\blog-desktop.jpg" />
            <File name="img\blog-keynote.jpg" />
            <File name="img\blog-md-navbar.gif" />
            <File name="img\blog-sidebar.jpg" />
            <File name="img\contact-bg.jpg" />
            <File name="img\favicon.ico" />
            <File name="img\headbanner.jpg" />
            <File name="img\home-bg-art.jpg" />
            <File name="img\home-bg-geek.jpg" />
            <File name="img\home-bg-o.jpg" />
            <File name="img\home-bg.jpg" />
            <File name="img\icon_wechat.png" />
            <File name="img\post-bg-2015.jpg" />
            <File name="img\post-bg-alibaba.jpg" />
            <File name="img\post-bg-alitrip.jpg" />
            <File name="img\post-bg-android.jpg" />
            <File name="img\post-bg-apple-event-2015.jpg" />
            <File name="img\post-bg-digital-native.jpg" />
            <File name="img\post-bg-e2e-ux.jpg" />
            <File name="img\post-bg-ios9-web.jpg" />
            <File name="img\post-bg-js-module.jpg" />
            <File name="img\post-bg-js-version.jpg" />
            <File name="img\post-bg-kuaidi.jpg" />
            <File name="img\post-bg-miui-ux.jpg" />
            <File name="img\post-bg-miui6.jpg" />
            <File name="img\post-bg-os-metro.jpg" />
            <File name="img\post-bg-re-vs-ng2.jpg" />
            <File name="img\post-bg-rwd.jpg" />
            <File name="img\post-bg-see-u-ali.jpg" />
            <File name="img\post-bg-universe.jpg" />
            <File name="img\post-bg-unix-linux.jpg" />
            <File name="img\post-sample-image.jpg" />
            <File name="img\tag-bg.jpg" />
        </Folder>
        <Folder name="js">
            <File name="js\animatescroll.min.js" />
            <File name="js\bootstrap.js" />
            <File name="js\bootstrap.min.js" />
            <File name="js\hux-blog.js" />
            <File name="js\hux-blog.min.js" />
            <File name="js\jquery.js" />
            <File name="js\jquery.min.js" />
            <File name="js\jquery.nav.js" />
            <File name="js\jquery.tagcloud.js" />
        </Folder>
        <Folder name="less">
            <File name="less\hux-blog.less" />
            <File name="less\mixins.less" />
            <File name="less\side-catalog.less" />
            <File name="less\sidebar.less" />
            <File name="less\variables.less" />
        </Folder>
        <Folder name="portfolio">
            <Folder name="css">
                <File name="portfolio\css\timeline.css" />
            </Folder>
            <Folder name="fonts">
                <File name="portfolio\fonts\huxico.eot" />
                <File name="portfolio\fonts\huxico.svg" />
                <File name="portfolio\fonts\huxico.ttf" />
                <File name="portfolio\fonts\huxico.woff" />
            </Folder>
            <Folder name="images">
                <File name="portfolio\images\.DS_Store" />
                <File name="portfolio\images\hux_avatar.png" />
                <File name="portfolio\images\intern-alitrip.jpg" />
                <File name="portfolio\images\intern-lxu.jpg" />
                <File name="portfolio\images\logo-jquery.png" />
                <File name="portfolio\images\logo-kissy.png" />
                <File name="portfolio\images\logo-react.png" />
                <File name="portfolio\images\logo-vue.png" />
                <File name="portfolio\images\newmedia.jpg" />
                <File name="portfolio\images\senova.jpg" />
                <File name="portfolio\images\work-busyweek.jpg" />
                <File name="portfolio\images\work-hslider.jpg" />
                <File name="portfolio\images\work-puzzle.png" />
                <File name="portfolio\images\work-truth.jpg" />
                <File name="portfolio\images\work-uihome.jpg" />
                <File name="portfolio\images\work-wepiao-bo.jpg" />
            </Folder>
            <Folder name="js">
                <File name="portfolio\js\modernizr.custom.js" />
            </Folder>
            <File name="portfolio\index.html" />
        </Folder>
        <Folder name="_includes">
            <File name="_includes\footer.html" />
            <File name="_includes\head.html" />
            <File name="_includes\nav.html" />
        </Folder>
        <Folder name="_layouts">
            <File name="_layouts\default.html" />
            <File name="_layouts\keynote.html" />
            <File name="_layouts\page.html" />
            <File name="_layouts\post.html" />
        </Folder>
        <Folder name="_posts">
            <File name="_posts\2014-01-29-hello-2015.markdown" />
            <File name="_posts\2014-08-16-miui6.markdown" />
            <File name="_posts\2014-09-04-is-pure-android-better.markdown" />
            <File name="_posts\2014-10-01-why-alibaba-ux-sucks.markdown" />
            <File name="_posts\2014-11-20-responsive-web-design.markdown" />
            <File name="_posts\2014-12-13-wechat-block-kuaidi.markdown" />
            <File name="_posts\2015-03-10-apple-event-2015.markdown" />
            <File name="_posts\2015-03-25-digital-native.markdown" />
            <File name="_posts\2015-03-31-e2e_user_scenarios.markdown" />
            <File name="_posts\2015-04-14-unix-linux-note.markdown" />
            <File name="_posts\2015-04-15-os-metro.markdown" />
            <File name="_posts\2015-05-11-see-u-ali.markdown" />
            <File name="_posts\2015-05-25-js-module-loader.markdown" />
            <File name="_posts\2015-06-15-alitrip-strategy.markdown" />
            <File name="_posts\2015-07-09-js-module-7day.markdown" />
            <File name="_posts\2015-09-22-js-version.markdown" />
            <File name="_posts\2015-10-28-how-designer-learn-fe.markdown" />
            <File name="_posts\2015-12-15-ios9-safari-web.markdown" />
            <File name="_posts\2015-12-28-css-sucks-2015.markdown" />
            <File name="_posts\2016-02-01-React-vs-Angular2.markdown" />
            <File name="_posts\2016-06-05-pwa-in-my-pov.markdown" />
        </Folder>
        <File name=".gitignore" />
        <File name="404.html" />
        <File name="about.html" />
        <File name="CNAME" />
        <File name="feed.xml" />
        <File name="Gruntfile.js" />
        <File name="index.html" />
        <File name="LICENSE" />
        <File name="package.json" />
        <File name="README.md" />
        <File name="README.zh.md" />
        <File name="tags.html" />
        <File name="_config.yml" />
    </Project>
</NotepadPlus>
